@charset "UTF-8";


p{
	font-family: 'Hahmlet', serif;
	color: white;
}

.font1 {
	font-size: 76px;
}

.font2 {
	font-size : 46px;
}

#main {
	background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('../img/backimage.jpg');
	background-size: cover;
	background-position: 0% 20%;
	width:100%;
	height:600px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction:column;
	padding-top:100px;
}





.all {
    width: 900px;   
    padding:8px 12px;
    text-align: center;   
}

.icon1 {
    position: relative;  
}

input{
    width: 100%;
    height: 60px;
    border-radius: 30px;
    border: 1.5px solid #EDEDED;
    margin-top:100px;
}

.search {
    position: absolute;  
    top: 124px;       
    left: 20px;
    color: #AAAAAA;
}

.keyboard{
    position: absolute;
    top: 124px;
    right: 47px;
}
